{% extends 'logbook/includes/base.html' %}
{% load static %}

<!-- main block -->
{% block main_block %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <div class="wrapper">

        <div class="main">
            <div class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <h1 class="font-weight-light">Week Operations</h1>
                                    <h4 class="font-weight-light text-warning">Logbook week - {{logbook.week_number}}</h4>

                                    <div class="row">
                                        {% if week_operations is False %}
                                        <div class="alert alert-primary alert-with-icon">
                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"><i class="tim-icons icon-simple-remove"></i></button>
                                            <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                                            <span>Please Add Week operation from the form below. </span>
                                        </div>
                                        {% else %}
                                            {% for operation in week_operations %}
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="font-weight-light text-primary">Operation</h4>
                                                            {{operation.operation|safe}}
                                                        </div>
                                                        <div class="card-body">
                                                            <h4 class="font-weight-light text-secondary">Machinery</h4>
                                                            {{operation.machinery|safe}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>

                                    <div class="row">
                                        <form method="post" class="card">
                                            <div class="card-body">
                                                <div class="col-sm-12 mb-2"> <span class="h4 font-weight-light text-warning">Add Week Operation</span></div>
                                                {% csrf_token %}
                                                <div class="col-sm-12">
                                                    <div class="datepicker-container">
                                                        <div class="form-group">
                                                            <label for="id_operation">Operation:</label>
                                                            <div id="operation-editor" class="col-12"></div>
                                                            <input type="hidden" id="id_operation" name="operation" value="" class="form-controls">
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="id_machinery">Machinery:</label><br>
                                                        <div id="machinery-editor" class="col-12"></div>
                                                        <input type="hidden" id="id_machinery" name="machinery" value="">
                                                    </div>
                                                </div>
                                                <button class="btn btn-success" type="submit" value="Submit">Add Operation</button>
                                            </form>
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <h2 class="font-weight-light">Activity Diagram</h2>
                                    <img src="/media/{{logbook.activity_diagram}}" alt="Activity Diagram" class="img-fluid rounded">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Include Quill JavaScript -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    // Initialize Quill for the 'operation' field
    var operationEditor = new Quill('#operation-editor', {
    theme: 'snow',
    });
    // Store the content of the editor in the hidden input field when form is submitted
    var operationInput = document.getElementById('id_operation');
    operationEditor.on('text-change', function() {
    operationInput.value = operationEditor.root.innerHTML;
    });

    // Initialize Quill for the 'machinery' field
    var machineryEditor = new Quill('#machinery-editor', {
    theme: 'snow',
    });
    // Store the content of the editor in the hidden input field when form is submitted
    var machineryInput = document.getElementById('id_machinery');
    machineryEditor.on('text-change', function() {
    machineryInput.value = machineryEditor.root.innerHTML;
    });
</script>
{% endblock main_block %}