{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gulay.pythonanywhere.com/logbook/">
    <meta property="og:title" content="AidaLog.">
    <meta property="og:description" content="AidaLog. Logbook Manager">
    <meta property="og:image" content="https://gulay.pythonanywhere.com/media/aidaLog.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gulay.pythonanywhere.com/logbook/">
    <meta property="twitter:title" content="AidaLog.">
    <meta property="twitter:description" content="AidaLog. Logbook Manager">
    <meta property="twitter:image" content="https://gulay.pythonanywhere.com/media/aidaLog.png">

    <title>
        Logbook
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" type="text/css">
    <!-- Nucleo Icons -->
    <link href="{% static 'logbook/assets/css/nucleo-icons.css' %}" rel="stylesheet" type="text/css" />
    <!-- CSS Files -->
    <link href="{% static 'logbook/assets/css/blk-design-system.css' %}" rel="stylesheet" type="text/css" />
</head>