<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#pablo">LogBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-primary">
            <ul class="navbar-nav ml-auto">
                <!-- home link-->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logbook_home' %}">
                        🏡 Home
                    </a>
                </li>
                <!-- catalog link-->
                <li class="nav-item active">
                    <a class="nav-link text-success" href="{% url 'logbook_catalog' %}">
                        Catalog
                    </a>
                </li>
                <!-- settings link-->
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'logbook_settings' %}">
                         Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>